# Практическая работа №3. Проверка статистических гипотез

## Цели:
- знакомство с основными задачами проверки статистических гипотез; 
- изучение критериев проверки гипотез о виде неизвестного закона распределения генеральной совокупности и неизвестных параметрах известного закона распределения;
- формирование навыков проверки статистических гипотез с помощью языка программирования Python.

## Задачи:
1. Проверка гипотез о средних и дисперсиях выборочных данных.
2. Анализ устойчивости критериев к нарушению предположений о нормальности исходных данных.

## Вариант 5

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [10]:
# Импорты
import pandas as pd
import numpy as np

In [11]:
dataframe = pd.read_csv("variant_5.csv")

In [15]:
dataframe.describe()

,couple_1_1,couple_1_2,couple_2_1,couple_2_2,couple_3_1,couple_3_2,couple_4_1,couple_4_2,couple_5_1,couple_5_2,couple_6_1,couple_6_2
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,612.497420,471.734950,-511.743192,1050.612093,-502.213893,-993.526503,-422.792914,-378.603057,600.671009,810.569509,676.389386,482.801820
std,655.304147,100.627018,937.189055,989.316659,926.452169,912.716282,727.500766,662.550678,186.447990,106.168747,460.148492,577.484013
min,-763.905301,174.759138,-3044.762170,-543.066721,-3217.188001,-2764.297545,-2123.929175,-1579.273417,218.318488,513.982003,-274.032895,-535.602324
25%,66.144098,422.214758,-1083.113294,136.521664,-982.721733,-1634.881128,-865.665231,-930.662960,463.158459,725.092958,311.190781,-62.089037
50%,585.853298,471.324573,-553.522071,1071.738209,-391.706238,-1079.145721,-307.978730,-391.744673,583.083363,830.808089,675.731906,692.823288
75%,923.617527,516.505284,76.831344,1862.597833,46.979862,-375.833781,-38.197735,61.288172,753.792577,907.971894,949.469500,963.939739
max,2281.652768,749.680915,1240.267025,2622.471548,1119.924844,1629.281525,1648.699773,1148.436928,1147.263124,1022.691491,1658.889871,1227.682550

In [17]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   couple_1_1  50 non-null     float64
 1   couple_1_2  50 non-null     float64
 2   couple_2_1  50 non-null     float64
 3   couple_2_2  50 non-null     float64
 4   couple_3_1  50 non-null     float64
 5   couple_3_2  50 non-null     float64
 6   couple_4_1  50 non-null     float64
 7   couple_4_2  50 non-null     float64
 8   couple_5_1  50 non-null     float64
 9   couple_5_2  50 non-null     float64
 10  couple_6_1  50 non-null     float64
 11  couple_6_2  50 non-null     float64
dtypes: float64(12)
memory usage: 4.8 KB